@charset "UTF-8";
@font-face {
    font-family: sectar;
    src: url(../fonts/sectar/Sectar.otf)
}
body{
    width: 100%;
    background-image: linear-gradient(to left,#231A2B,#26060F,#75081D);
}
header h1{
    font-family: sectar;
    color: #fd3f75;
    text-shadow: 3px 3px 8px black;
    text-align: center;
    font-size: 4.4em;
}
.cima{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
}
.lanterna{
    margin-right: 320px;
}
.lanterna img{
    border-radius: 50%;
    width: 180px;
}
.text{
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.308);
    height: 250px;
    width: 520px;
    border-radius: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.486);
}
.text p{
    width: 500px;
    text-align: center;
    text-justify: auto;
    font-size: 1.6em;
    font-family: sectar;
    color:black;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.322);
}
span{
    color: #bd073a;
}
.baixo{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.lua img{
    width: 760px;
}
.lua h3{
    font-family: sectar;
    text-align: center;
    font-size: 1.9em;
    text-shadow: 3px 3px 8px black;
    color: #fd3f75;
}
.video{
    margin-top: 222px;
    margin-left: 10px;
}
.video video{
    width: 580px;
}

@media screen and (max-width:430px){
    header h1{
        font-size: 3em;
        text-align: center;
    }
    .cima{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lanterna{
        margin: 0 auto;
    }
    .lanterna img{
        width: 180px;
        margin-bottom: 45px;
        margin-top: 45px;
    }
    .text p{
        margin: 0 auto;
        width: 320px;
        font-size: 1.9em;
    }
    .text{
        width: 350px;
        height: 450px;
        margin: 0 auto;
    }
    .lua{
        margin-top: 60px;
        margin-bottom: 25px;
    }
    .lua h3{
        font-size: 1.6em;
    }
    .lua img{
        width: 440px;
    }
    .baixo{
        display: flex;
        flex-direction: column;
        margin-bottom: 300px;
    }
    .video{
        margin: 0 auto;
    }
    .video video{
        margin-right: 12px;
        width: 380px;
    }
    
}