@charset "UTF-8";
@font-face {
    font-family: sectar;
    src: url(../fonts/sectar/Sectar.otf)
}
@font-face {
    font-family: trenches;
    src: url(../fonts/trenches/Trenches\ Demo.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-image: linear-gradient(to right,#835AB6,#433581,#121532);
}
header{
    margin-top: 20px;
    margin-bottom: 130px;
}
header h1{
    color: #9946ff;
    text-align: center;
    font-family: sectar;
    text-align: center;
    font-size: 4.3em;
    text-shadow: 3px 3px 10px rgb(0, 0, 0);
}
.cima{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.passiva{
    margin-left: 330px;
}
.passiva img{
    border-radius: 50%;
    width: 180px;
}
.text{
    margin-right: 200px;
    background-color: rgba(255, 255, 255, 0.658);
    height: 200px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.486);
}
.text p{
    width: 500px;
    text-justify: auto;
    font-size: 1.5em;
    color: #280850;
    font-family: sectar;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.336);
    padding: 15px;
    text-align: center;
}
.baixo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 20px;
}
.video{
    margin-top: 110px;
    margin-right: 40px;
    margin-bottom: 100px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.322);
}
.darkstar{
    margin-top: 60px;
}
.darkstar img{
    width: 755px;
}
.darkstar h3{
    text-align: center;
    font-family: sectar;
    font-size: 1.9em;
    color:#9946ff;
    text-shadow: 2px 2px 8px black;

}
.video video{
    width: 580px;
}
span{
    color: rgb(143, 28, 243);
}

@media screen and (max-width:430px){
    header h1{
        font-size: 2em;
        text-align: center;
    }
    .cima{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .passiva{
        margin: 0 auto;
    }
    .passiva img{
        width: 180px;
        margin-bottom: 45px;
    }
    .text p{
        margin: 0 auto;
        width: 320px;
        font-size: 1.8em;
    }
    .text{
        width: 350px;
        height: 400px;
        margin: 0 auto;
    }
    .darkstar{
        margin-top: 60px;
        margin-bottom: 25px;
    }
    .darkstar h3{
        font-size: 1.8em;
    }
    .darkstar img{
        width: 430px;
    }
    .baixo{
        display: flex;
        flex-direction: column;
        margin-bottom: 300px;
    }
    .video{
        margin: 0 auto;
    }
    .video video{
        width: 380px;
    }
    
}